In [1]:
import pandas as pd
df = pd.read_csv('Aprl_May_DataforBN.csv')

In [2]:
from sklearn.preprocessing import LabelEncoder 
import numpy as np
le = LabelEncoder()

In [4]:
for i in range(165):
    df.iloc[:,i] = le.fit_transform(df.iloc[:,i])

In [5]:
df.to_csv('Encoded_Aprl_May_DataforBN.csv')

In [6]:
df

,P_GEO,SOC1,SOC2A,SOC2B,SOC3A,SOC3B,SOC4A,SOC4B,PHYS8,PHYS1A,...,REGION4,REGION9,P_DENSE,MODE,LANGUAGE,MAIL50,RACE1_BANNER,INC_BANNER,AGE_BANNER,HH_BANNER
0,13,2,3,3,0,0,1,1,2,0,...,0,1,2,1,0,2,0,0,1,3
1,17,2,2,2,0,2,1,1,1,1,...,3,7,2,1,0,1,0,3,2,1
2,16,2,2,2,0,0,1,0,1,1,...,3,8,2,1,0,0,5,3,2,1
3,18,2,1,1,0,0,1,0,2,1,...,0,1,2,1,0,0,1,2,2,1
4,5,2,0,0,0,0,1,1,2,0,...,1,2,2,1,0,0,0,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17759,14,2,2,2,2,2,0,1,1,1,...,3,7,2,1,0,7,0,1,2,4
17760,14,3,4,4,0,0,1,1,2,1,...,0,0,2,1,0,7,0,3,1,0
17761,14,2,3,3,1,1,1,1,2,1,...,1,2,1,1,0,7,0,1,1,2
17762,14,1,1,1,0,0,1,1,2,1,...,1,2,1,1,0,7,0,2,2,1
17763,19,1,1,4,0,0,1,1,1,1,...,2,6,2,1,0,7,2,1,1,0